<h1 class="header">Eat Da Burger</h1>

<div class="daburger">
  <img src="/assets/img/niklas-rhose-FlmXvqlD-nI-unsplash.jpg" alt= "burger" class="burgerimage" width="1000" height="300"/>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Uneaten Burgers!</h2>
    <ul class="uneaten" >
      {{!-- here we are displaying all burgers where devoured is false using #unless--}}

      {{#each burgers}}
      {{#unless devoured}}
      <li <p>
        {{this.burger_name}}
        <button id="{{this.id}}" class="devourburger">Devour Me!</button>
        </p>
      </li>
      {{/unless}}
      {{/each}}


    </ul>
    </col>
  </div>

  <div class="col-md-6">
    <h2>Devoured Burgers!</h2>

    <ul class="devoured">
      {{!-- here we are displaying all burgers where devoured is true using the #if--}}
      {{#each burgers}}
      {{#if devoured}}
      <li>
        <p>
          {{this.burger_name}}
        </p>
      </li>
      {{/if}}
      {{/each}}


    </ul>
  </div>
</div>

<div class="createburger">
<h2 class="create">Create your burger!</h2>
<form>

  <div class="form-group">
    <label for="newBurger">Burger Name:</label>
    <input type="text" id="newBurger" name="name">
  </div>
  <br>
  <button class="create-burger" type="submit">Add Burger </button>
</form>
</div>